:root {
    --main-color: #212121;
    --second-color: #757575;
    --accent-color: #2196F3;
    --background-color: #E5E5E5;
    --header-background-color: #FFFFFF;
    --hero-text: #ffffff;
    --specialty-background-color: #F5F5F5;
    --team-background-color: #F5F4FA;
    --footer-background-color: #2F303A;
    --footer-main-text: #ffffff;
    --footer-second-text: rgba(255, 255, 255, 0.6);
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
ul {
    margin: 0;
    padding-left: 0;
}
body {
    color: var(--main-color);
    font-family:  'Roboto', sans-serif;
}
.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
.btn {
    cursor: pointer;
}
.main-titel {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--main-color);
}
.titel {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    
    color: var(--main-color);
}
.text {
    font-size: 14px;
    line-height: 1.71;
    
    letter-spacing: 0.03em;

    color: var(--second-color);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;   
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/*HEADER*/
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    border-bottom: 1px solid #ECECEC;
    background-color: #FFFFFF;
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
    min-width: 145px;
    letter-spacing: 0.03em;
    padding: 24px 0;
    margin-right: 93px;

    color: #000000;    
}
.header-logo span {
    color: var(--accent-color);
}

.header-logo:hover,
.header-logo:focus {
    color: var(--accent-color);
    text-decoration: underline;
}
.header-nav {
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.main-nav {
    display: flex;
}

.main-nav-link {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    

    color: var(--main-color);
}

.main-nav-item:not(:last-child) {
    margin-right: 50px;
}
.main-nav-link:hover,
.main-nav-link:focus {
    text-decoration: none;
}
.current {
    color: var(--accent-color);
}
.conneсtion-nav {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}
.conneсtion-nav-link {
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
        
    color: var(--second-color);
}
.conneсtion-nav-link:hover,
.conneсtion-nav-link:focus {
    text-decoration: none;
}
.conneсtion-nav-item:not(:last-child) {
    margin-right: 50px;
}
/*main*/

/*HERO*/
.hero {
    text-align: center;
    max-width: 1600px;
    height: 600px;
    padding: 200px 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2F303A;
    background-image: 
    linear-gradient( to right, #2F303A66, rgba(47, 48, 58, 0.4)), 
    url(../images/back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    
}
.hero-titel {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    
    letter-spacing: 0.06em;
    text-transform: uppercase;

    max-width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;

    color: var(--hero-text);
}
.hero-btn {
    display: inline-block;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    
    
    letter-spacing: 0.06em;

    color: var(--hero-text);
    
    padding: 10px 32px;
    min-width: 216px;
    margin: 0 auto;
    

    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.hero-btn:hover,
.hero-btn:focus {
    text-decoration: underline var(--accent-color);
}

/*specialty*/
.specialty {
    
}
.specialty-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.specialty-item {
    width: 270px;
}
.specialty-titel {
    width: 270px;
    text-transform: uppercase;

    margin-bottom: 10px;
}
.specialty-text {
    width: 270px;
}
/*What do we do?*/
.what-do {
    padding-top: 0;
}
.what-do-main-titel {
    min-width: 366px;
    text-align: center;
    margin-bottom: 50px;
}
.what-do-list {
    display: flex;
    justify-content: space-between;
}
/*Our team*/
.team {
    background-color: var(--team-background-color);
}
.team-main-titel {
    min-width: 264px;
    text-align: center;
    margin-bottom: 50px;
}
.team-list {
    display: flex;
    justify-content: space-between;
}
.team-item {
    display: block;
    background-color: #FFFFFF;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-div {
    padding-top: 30px;
    padding-bottom: 30px;
}
.team-titel {
    font-size: 16px;
    line-height: 1.19;
    min-width: 104px;
    text-align: center;

    
    margin-bottom: 10px;
}
.team-text {
    font-size: 16px;
    line-height: 1.19;

    min-width: 76px;
    text-align: center;
    
}
/* Постійні клієнти */
.client-titel {
    min-width: 297px;
    text-align: center;
    margin-bottom: 50px;
}
/*footer*/
.footer {
    padding: 60px 0;
    background-color: var(--footer-background-color);
}
.footer-logo {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
    min-width: 145px;

    
    margin-bottom: 20px;
    letter-spacing: 0.03em;
    
    color: var(--footer-main-text);    
}
.footer-logo span {
    color: var(--accent-color);
}

.footer-logo:hover,
.footer-logo:focus {
    text-decoration: underline var(--accent-color);
}
.address-list {
    
    min-width: 231px;
}
.address {
    display: inline-block;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    min-width: 231px;
    
    letter-spacing: 0.03em;

    color: var(--footer-main-text);
}
.addres-item:not(:last-child) {
    margin-bottom: 9px;
    
}
.address:hover,
.address:focus {
    text-decoration: none;
}
.footer-cont {
    display: inline-block;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    min-width: 231px;
    
    letter-spacing: 0.03em;

    color: var(--footer-second-text);
}
.footer-cont:hover,
.footer-cont:focus {
    
    text-decoration: none;
}

/*PORTFOLIO*/
.example {

}
/*portfolio buttons*/
.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 50px;
}
.example-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    
    min-width: 73px;
    padding: 6px 22px;
    
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--main-color);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
}
.example-btn:hover,
.example-btn:focus {
    text-decoration: none;
}
.example-btn:active {
    color: #ffffff;
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*EXAMPLES*/

.example-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.example-link {
    max-width: 370px;
    background-color: #ffffff;
}
.example-div {
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    padding: 20px 24px;
}
.example-titel {
    font-size: 18px;
    line-height: 2;
    
    
    margin-bottom: 4px;
    letter-spacing: 0.06em;
}

.example-text {
    font-size: 16px;
    line-height: 1.88;
    

    letter-spacing: 0.03em;
}